body {
  background-image      : url(res/images/gearcrate_webpage_bg.png);
  background-repeat     : repeat;
  background-attachment : fixed;
  text-align            : center;
  padding               : 32px;
  margin                : 0px;
  min-width             : 800px;
  font-family           : verdana;
}

div#container{
  margin : 0px 0px;
  text-align : left;
  padding    : 16px;
  background-color : rgb(240, 240, 240);
  background-color : rgba(255, 255, 255, 0.95);
  border-style : solid;
  border-color : rgb(102, 102, 102);
  border-width : 8px;
}

div#site_title{
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: 128px;
  padding-bottom: 16px;
  border-bottom-color : rgb(102, 102, 102);
  border-bottom-style : solid;
  border-bottom-width : 2px;
}

ul.navbar{
  float : left;
  text-align : left;
  width      : 128px;
  height     : 300px;
  padding: 0px;
  margin: 0px;
}

ul.navbar li{
  display:block;
  font-size: 16px;
  font-weight:normal;
  padding: 0px;
  border-bottom-color : rgb(102, 102, 102);
  border-bottom-style : solid;
  border-bottom-width : 2px;
  height: 32px;
  width: inherit;
  list-style : none;
}

ul.navbar li a{
  text-decoration:none;
}

ul.navbar li a:hover{
  background-color: rgb(240, 240, 240);
  text-decoration:none;
}

div#content_area{
  margin : 0px;
  padding : 0px 16px;
  border-bottom-color : rgb(102, 102, 102);
  border-bottom-style : solid;
  border-bottom-width : 2px;
}

ul.navbar + div#content_area{
  margin-left : 128px;
}